@font-face{
font-family:Oswald;
src: url(‘http://localhost/font/’);
}

.introlayer {
  z-index: 1;
  position: relative;
  text-align: center;
  /*background: url(../img/bg/18.jpg) no-repeat;*/
  background-size: cover;
  background-position: center center;
}

.introlayer h1{
  color: #fff;
  text-transform: uppercase;
}

.introhome {
  padding: 364px 0;
}

.introhome h1 {
  font-size: 70px;
  font-weight: 600;
  line-height: 80px;
}

.introhome p {
  color: #fff;
  font-size: 24px;
  font-weight: 200;
  font-family: "Open Sans", Arial, sans-serif;
}

.introplan {
  padding: 500px 0 35px;
}

.introplan h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  text-transform: uppercase;
}

.introplan p {
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  font-family: "Open Sans", Arial, sans-serif;
}

.introsignup {
  padding: 400px 0 400px;
}

.introsignup h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  background-color: #000;
  opacity: 0.6;
}

.introsignup p {
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #000;
  opacity: 0.6;
}

.signuptext {
  padding-right: 600px;
}


@media (max-width: 768px) {
  .introhome {
    padding: 250px 0;
  }

  .introhome h1 {
  font-size: 21px;
  font-weight: 600;
  }
  .introhome p {
    color: #fff;
    font-size: 14px;
    font-weight: 200;
    font-family: "Open Sans", Arial, sans-serif;
  }


  .introplan {
    padding: 250px 0;
  }

  .introplan h1 {
  font-size: 21px;
  font-weight: 600;
  }
  .introplan p {
    color: #fff;
    font-size: 14px;
    font-weight: 200;
    font-family: "Open Sans", Arial, sans-serif;
  }

  .introsignup {
    padding: 250px 0;
  }

  .introsignup h1 {
  font-size: 21px;
  font-weight: 600;
  }
  .introsignup p {
    color: #fff;
    font-size: 14px;
    font-weight: 200;
    font-family: "Open Sans", Arial, sans-serif;
  }
}

.contactus p {
  color: #fff;
  font-size: 15pt;
}


/*section style*/
/*-----------------------------*/
.section-bg {
  position: relative;
  background: center fixed;
  background-size: cover;
  padding: 300px 0;
  text-align: center;
}

.section-bg h2 {
 color: #fff;
 font-size: 75pt;
 line-height: 60px;
}

.section-bg p {
 color: #fff;
 font-size: 12pt;
 line-height: 60px;
}

@media (max-width: 768px) {
 .section-bg h2 {
  color: #fff;
  font-size: 45pt;
  line-height: 60px;
 }
}



.re-title-v1 {
	color: #fff;
	font-size: 75px;
	/* font-weight: 600; */
	line-height: 60px;
	/* text-transform: uppercase; */
	font-family: fantasy;
}

.section2 {
  position: relative;
  background: url(../img/clcbanner-3.jpeg) center fixed;
  background-size: cover;
}
.section3 {
  position: relative;
  background: url(../img/clcbanner-4.jpg) center fixed;
  background-size: cover;
}

.section4 {
  position: relative;
  background: url(../img/clcbanner-5.jpg) center fixed;
  background-size: cover;
}

.section5 {
  position: relative;
  background: url(../img/clcbanner-6.jpg) center fixed;
  background-size: cover;
}

.sec1 {
  padding: 200px ;
}

.sec2 {
  padding: 150px ;
}

h2.Htitle {
  font-family: 'Oswald','HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 34px;
  line-height: 1.1em;
  text-transform: uppercase;
}

h2.Htitle2 {
  font-family: 'Oswald','HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 75px;
  line-height: 1.1em;
  text-transform: uppercase;
}

.contact-session h1 {
  font-size: 1.25em;
  font-family: 'Oswald','HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;
  font: inherit;
  font-weight:600;
  line-height: 1.1em;
}

.contact-session p {

}